﻿@{
    ViewBag.Title = "Home Page";
}



<a href="@Url.Action("Create" , "Artigo")"><img src="~/Img/EnviarArtigo.jpg"/> </a>
<a href="@Url.Action("Create" , "AvaliarArtigo")"><img src="~/Img/avaliar.jpg" /> </a>
