﻿@model AppEnvioArtigos.Models.AvaliarArtigo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AvaliarArtigo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NotaArtigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaArtigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComentarioRevisao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComentarioRevisao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AvaliacaoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
