﻿@model IEnumerable<AppEnvioArtigos.Models.AvaliarArtigo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NotaArtigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComentarioRevisao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NotaArtigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComentarioRevisao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AvaliacaoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AvaliacaoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AvaliacaoID })
        </td>
    </tr>
}

</table>
