﻿@model AppEnvioArtigos.Models.Artigos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artigos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumoArtigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumoArtigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artigopdf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artigopdf)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtigoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
