﻿@model IEnumerable<AppEnvioArtigos.Models.Artigos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumoArtigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artigopdf)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResumoArtigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artigopdf)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtigoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtigoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtigoID })
        </td>
    </tr>
}

</table>
